* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 16px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    background-image: url("backimg.jpg");
    background-repeat: no-repeat;
    margin-top: 20px;
    background-position: center;
    background-size: cover;
}

.container {
    padding: 20px 65px;
    height: 650px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #060606;
    border-radius: 30px;
    border: 2px solid #606060b3;
    box-shadow: #00fbffcc 0px 2px 50px 16px;
}

.outer-circle {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    border: 3px solid #fa1e1e;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-circle {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    color: #fff;
    font-size: 23px;
}
.min {
    font-size: 48px;
}

.sec {
    font-size: 48px;
}

.msec {
    font-size: 48px;
}
.buttons {
    margin-top: 23px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #5500ff;
    border: 0px solid #fff;
    color: #fff;
    cursor: pointer;
    border: 1px solid #fff;
    /* box-shadow: 5px 5px 5px 0px #49434393; */
}
.btn:hover {
    background-color: rgb(255, 0, 0);
}
.playbtn{
    transition: all 0.3s ease;
    background-color: rgb(130, 5, 255);
    z-index: 1;
}
.playbtn
.resetbtn,
.lapbtn{
    transform: scale(0.9);
}
.playbtn.on{
    background-color: #d92027;
}
.resetbtn,
.lapbtn{
    transition: all 0.3s ease;
}

.laps {
    list-style: none;
    color: #fbff01;
    height: 350px;
    width: 250px;
    overflow: auto;
    position: relative;
    margin-top: 20px;
}
.laps::-webkit-scrollbar {
    display: none;
}

.lap-item {
    width: 100%;
    display: inline-block;
    text-align: center;
    border: 1px solid #c1eaf1;
    background-color: transparent;
    border-radius: 50px;
    margin-bottom: 10px;
    padding: 15px;
    cursor: pointer;
}

.number {
    color: #cbc8c8;
}
.time-stamp{
    display: inline-block;
    margin-left: 25px;
}

.clearbtn {
    display: block;
    position: fixed;
    z-index: 1000;
    bottom: 28px;
    left: 50%;
    transform: translate(-50%);
    width: 120px;
    padding: 10px 0;
    border-radius: 50px;
    background-color: #10153bee;
    border: 2px solid #0080ff;
    color: #fff;
}

.clearbtn:hover {
    background: #0080ff;
}

.visibility{
    visibility: hidden;
}

.laptime {
    display: none;
}